include ChangeLog.txt
include README.md
include LICENSE.txt
include CONTRIBUTORS.txt
include RELEASE-VERSION
include backtrackbb/cfg/configspec.conf
include backtrackbb/libs/*.py
include backtrackbb/dummy/*.py
include backtrackbb/utils/cf/*.py
include backtrackbb/utils/config/*.py
include backtrackbb/utils/data_types/*.py
include backtrackbb/utils/filter/*.py
include backtrackbb/utils/grid/*.py
include backtrackbb/utils/map/*.py
include backtrackbb/utils/modules/*.py
include backtrackbb/utils/parameters/*.py
include backtrackbb/utils/plotting/*.py
include backtrackbb/utils/reading/*.py
include backtrackbb/utils/recursive/*.py
include backtrackbb/utils/signals/*.py
include backtrackbb/c_libs/map_project/*.h
include backtrackbb/c_libs/rosenberger/*.h
include backtrackbb/nllgrid/RELEASE-VERSION
